@charset "UTF-8";
/*----------------------------------------
[Table of contents]

  PreLoader
  Extend
1.  Site Styles
  1.1 title 
  1.2 font-size 
  1.3 table-price 
  1.4 panel
  1.5 responsive video
2.  Header
  2.1 logo 
  2.2 box-location 
  2.3 box-telephone 
  2.4 header-menu 
  2.5 top-menu
3.  Revolution Slider
4.  Content
  4.1 offset 
  4.2 fill box background   
  4.3 services-box 
  4.4 box-step 
  4.5 promo-fluid 
  4.6 box-icon-text 
  4.7 box-text 
  4.8 services-box-info 
  4.9 product-box 
  4.10 carousel-blog-box 
  4.11 map 
  4.12 tab-history 
  4.13 permission-box 
  4.14 breadcrumb 
  4.15 box-personal 
  4.16 product-total 
  4.17 social-icon-content 
  4.18 contact-box
  4.19 form
5.  Footer
6.  Icon Animation
-----------------------------------------*/
/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i|Rubik:300,300i,400,400i,500,500i,700,700i);
/* Variables */
/* Mixin */
/* 1. PreLoader */

.topbar {
    background: #363435;
    padding-top: 10px;
    padding-bottom: ;
    font-family: 'Bitter', serif;
}

.footerbar {
    background: #222;
    padding-top: 8px;
    padding-bottom: 5px;
    font-family: 'Bitter', serif;
    font-size: 12px;
}

.edit_hover_class a {
    visibility: hidden;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
   color: white;
}

/* Top nav Icons css */

.phn_num {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Bitter', serif;
    color: white;
    margin-right: 20px;

}

.adrs {
    font-weight: 500;
    font-size: 15px;
    font-family: 'Bitter', serif;
    color: white;
}




.rightbar {
    margin-left: 200px;
}

/* Main Header */

.navbar-brand {
    padding-top: 20px;
}

.top-text {
    display: inline-block;

}

/* App section */

.our-app {
    padding: 100px 0 50px;
    background-image: url(https://i.imgur.com/hrckpLJ.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.our-app .our-app-left img {
    width: 250px;
    opacity: 0.9%;
}

.img-responsive {
    width: 200px;
    align-content: center;
    display: inline-block;

}

/* New App section */

.appbox {
    padding-top: 30px;
    padding-bottom: 25px;
}

.how-section1 {
    background-color: #000;

}

.how-section1 h4 {
    color: #ffa500;
    font-weight: bold;
    font-size: 30px;
}

.how-section1 .subheading {
    color: #3931af;
    font-size: 20px;
}

.how-section1 .row {}

.how-img {
    text-align: center;
}

.how-img img {
    width: 40%;
    margin-bottom: 15px;
}

.rightapp {
    margin-top: 26px;
    margin-bottom: 20px;
    text-align: left;
    font-size: 21px;
    font-family: 'Bitter', serif;
    line-height: 28pt;
    margin-left: -5px;
}

.leftapp {
    margin-top: 20px;

}
.google_app{
    height: 60px;

}

.apple_app{
    height: 60px;
}
/* New App section */

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    max-width: 65%;
    height: auto;
}

img {
    vertical-align: middle;
}

.navbar {
    font-family: 'Bitter', serif;
    float: right;
    font-size: 17px;
    padding-top: 30px;
}

a.nav-link {
    margin-right: 30px;
}



/* How it Works Icons*/
.howitworks {
    background: #F5F5F5;
}


/* How it Works Continar*/

.howitcont {
    padding-top: 30px;
    padding-bottom: 30px;

}

/* Our Approch Section */

.approach {
    padding-top: 30px;
    padding-bottom: 30px;
}


/* Testimonials Section  */






.loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: rgba(255, 255, 255, 0.95);
}

.loader-wrapper {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    animation: spin 2s ease-in-out infinite;
}

.bubble1,
.bubble2 {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    background-color: #B52421;
}

.bubble2 {
    top: auto;
    bottom: 0;
    background-color: #B52421;
}

.bubble1,
.bubble2 {
    animation: bounce 2s ease-in-out infinite;
}

.bubble2 {
    animation-delay: -1.0s;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }
}

/*  Extend  */
._reset-ul-style {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

._reset-ul-style-2,
.tab-history .nav-tabs,
.social-icon-content,
.social-icon-footer,
.footer-link {
    list-style: none;
    margin: 0;
    padding: 0;
}

.divider {
    height: 30px;
    clear: both;
    overflow: hidden;
    width: 100%;
}

.divider.divider-47 {
    height: 47px;
}

.divider.divider-80 {
    height: 80px;
}

/* 1. Site Styles
================================================== */
html {
    overflow-x: hidden;
}

body {
    font: 16px/22px "Lato", sans-serif;
    color: #454545;
    background-color: #fff;
    font-weight: 400;
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    color: #fff;
    outline: 0;
    text-decoration: none;
}

a:active,
a:focus,
a:visited {
    text-decoration: none;
}

table,
table td {
    padding: 0;
    border: none;
    border-collapse: collapse;
}

img {
    vertical-align: top;
}

.base-color {
    color: #B52421;
}

/* 1.1 title
================================================== */
h1,
h2 {
    font-size: 30px;
    line-height: 40px;
    padding: 0 0 40px 0;
    text-transform: uppercase;
    color: #454545;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
}

h1.title-underline,
h2.title-underline {
    padding: 0 0 30px 0;
}

h1.title-underline,
h2.title-underline {
    text-align: center;
}

h1.title-underline:after,
h2.title-underline:after {
    content: '';
    width: 75px;
    height: 3px;
    background: #B52421;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -37px;
    margin-top: 15px;
}

@media (max-width: 577px) {

    h1.title-underline,
    h2.title-underline {
        font-size: 24px;
        line-height: 27px;
        padding: 0 0 60px 0;
    }

    h1.title-underline:after,
    h2.title-underline:after {
        margin-top: 24px;
    }
}

h1.title-underline.text-left,
h2.title-underline.text-left {
    text-align: left;
}

h1.title-underline.text-right,
h2.title-underline.text-right {
    text-align: right;
}

h3 {
    font-size: 26px;
    line-height: 30px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Rubik", sans-serif;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 20px;
    line-height: 24px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h6 {
    font-size: 18px;
    line-height: 22px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

/* end title
================================================== */
/* 1.2 font-size
================================================== */
.font-size-18 {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2px;
}

.info-text {
    font-size: 18px;
    line-height: 26px;
    letter-spacing: .2px;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

/* end font-size
================================================== */
/* 1.3 table-price
================================================== */
.table-price {
    padding: 0 0;
}

.table-price table {
    width: 100%;
}

.table-price table td {
    font-weight: 400;
    padding: 5px 0;
}

.table-price table tr {
    border-bottom: 1px solid #efefef;
}

.table-price table tr td:first-child {
    text-align: left;
    padding-right: 10px;
    width: 70%;
}

.table-price table tr td:last-child {
    text-align: right;
    padding-left: 10px;
    width: 30%;
}

.table-price table tr:last-child {
    border: none;
}

/* end table-price
================================================== */
/* 1.4 panel-content
================================================== */
.title-base {
    text-align: center;
    font-weight: 400;
    line-height: 34px;
    font-family: "Lato", sans-serif;
    padding-bottom: 23px;
}

.prices-tabs {
    margin-bottom: 72px;
}

@media (max-width: 1199px) {
    .prices-tabs {
        margin-bottom: 60px;
    }
}

@media (max-width: 992px) {
    .prices-tabs {
        margin-bottom: 50px;
    }
}

.panel-body {
    padding: 21px;
}

.panel-content p {
    margin-bottom: 21px;
}

.panel-content p:last-child {
    margin-bottom: 0;
}

/* end panel-content
================================================== */
/* 1.4 panel
================================================== */
.panel {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
}

.panel .panel-heading {
    padding: 0;
    border-bottom: 2px solid #fff;
}

.panel .panel-title {
    position: relative;
    font-family: "Lato", sans-serif;
    line-height: 1em;
}

.panel .panel-title a {
    display: block;
    font-weight: bold;
    padding: 15px 45px 15px 32px;
    background: #f5f5f5;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border-left: 3px solid #f5f5f5;
}

.panel .panel-title a:hover {
    background: #666666;
    color: #fff;
    border-left: 3px solid #B52421;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.panel .panel-title a:after {
    position: absolute;
    display: block;
    top: 0px;
    text-align: center;
    right: 0;
    z-index: 0;
    content: "+";
    font-size: 24px;
    line-height: 46px;
    color: #B52421;
    width: 70px;
    height: 60px;
}

.panel .active .panel-title a {
    background: #666666;
    color: #fff;
    border-left: 3px solid #B52421;
}

.panel .active .panel-title a:after {
    content: "-";
    margin-top: -2px;
}

/* end panel
================================================== */
/* 1.5 responsive video
==================================== */
.video-indent {
    max-width: 585px;
    margin: 0 auto;
    overflow: hidden;
}

.myvideo {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    border: 1px solid transparent;
}

.myvideo iframe,
.myvideo object,
.myvideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* /responsive video
==================================== */
/*******************************************************************
* 2. Header
*******************************************************************/
/* 2.1 logo
================================================== */
.logo {
    margin: 40px 0 38px 0;
    display: inline-block;
    position: relative;
}

@media (max-width: 991px) {
    .logo {
        display: block;
        text-align: center;
        margin: 30px 0 22px 0;
    }

    .logo img {
        max-width: 320px;
        display: inline-block;
    }
}

@media (max-width: 420px) {
    .logo img {
        max-width: 300px;
    }
}

/* /logo
================================================== */
/* 2.2 box-location
================================================== */
header .box-location {
    position: relative;
    font-weight: 400;
    padding: 0 0 0 32px;
    top: 45px;
    font-size: 18px;
    line-height: 26px;
}

header .box-location:before {
    content: "\e908";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    color: red;
    font-size: 21px;
    line-height: 27px;
    color: #B52421;
}

@media (max-width: 1199px) and (min-width: 992px) {
    header .box-location {
        font-size: 16px;
        line-height: 24px;
    }

    header .box-location:before {
        top: 4px;
    }
}

/* /box-location
================================================== */
/* 2.3 box-telephone
================================================== */
.box-telephone {
    position: relative;
    font-weight: 400;
    padding: 0 0 70px 32px;
    top: 45px;
    font-size: 18px;
}

.box-telephone:before {
    content: "\e906";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    font-size: 21px;
    line-height: 27px;
    color: #B52421;
}

.box-telephone address {
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    font-family: "Rubik", sans-serif;
    margin: 0;
}

.box-telephone address .icon {
    font-size: 18px;
    line-height: 24px;
    color: #B52421;
    margin: 0 5px 0 0;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .box-telephone {
        font-size: 16px;
    }

    .box-telephone address {
        font-size: 24px;
    }

    .box-telephone:before {
        top: 4px;
    }
}

@media (max-width: 991px) {
    .box-telephone {
        top: 10px;
        text-align: center;
        padding: 0 0 0 0;
    }

    .box-telephone:before {
        display: none;
    }

    .box-telephone address {
        font-size: 24px;
    }
}

@media (max-width: 375px) {
    .box-telephone address {
        padding: 0 0 0 40px;
    }
}

/* /box-telephone
================================================== */
/* 2.4 header-menu
================================================== */
.box-nav {
    background: url(../images/box-nav.jpg) top center repeat-x;
    width: 100%;
}

.menu {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    font-family: "Rubik", sans-serif;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
    text-transform: uppercase;
}

.menu>li>a {
    text-decoration: none;
    padding: 19px 24px;
    font-size: 18px;
    line-height: 22px;
    display: block;
    color: #fff;
    font-weight: 500;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.menu>li>a:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    background: #B52421;
    bottom: 0;
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.menu>li>a:hover:after {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

.menu>li:hover a:after,
.menu>li.active a:after {
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
    opacity: 1;
}

.menu ul li {
    display: block;
    float: none;
}

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 10px 30px;
    width: 440px;
    position: absolute;
    left: 0px;
    top: -1000px;
    background: #fff;
    -moz-transition: opacity 0.4s ease, margin 0.4s ease;
    -o-transition: opacity 0.4s ease, margin 0.4s ease;
    -webkit-transition: opacity 0.4s ease, margin 0.4s ease;
    transition: opacity 0.4s ease, margin 0.4s ease;
}

@media (max-width: 991px) {
    .menu ul {
        visibility: visible;
        opacity: 1;
        display: none;
    }
}

.menu>ul {
    -webkit-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.21);
    box-shadow: 0px 5px 14px 2px rgba(0, 0, 0, 0.21);
}

.menu ul li {
    display: block;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 16px;
    font-weight: normal;
    display: block;
    color: #454545;
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid #e3eae5;
    font-weight: 400;
    padding: 24px 0 22px !important;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.menu ul li a:hover {
    color: #B52421;
}

@media (min-width: 992px) {
    .menu ul li:last-child a {
        border: none;
    }
}

/* end header-menu
================================================== */
/*======== 2.5 top-menu ========*/
.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    top: auto;
}

.menu ul ul {
    left: 290px;
    top: 0px;
}

@media (max-width: 990px) {
    .menu li:hover>ul {
        display: block;
    }
}

.mobile-menu {
    display: none;
    width: 53px;
    height: 49px;
    position: absolute;
    top: 0;
    left: 0;
    background: #B52421;
    font-size: 22px;
    line-height: 22px;
    text-decoration: none;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    text-align: center;
}

.mobile-menu span {
    color: #ffffff;
    display: inline-block;
    position: relative;
    top: 13px;
}

.mobile-menu:hover {
    background: #B52421;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
}

@media (max-width: 991px) {
    .menu {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    .box-nav {
        top: 10.9em;
        z-index: 77;
    }

    .box-nav nav {
        margin: 0 -15px;
        width: calc(100% + 30px);
        top: 3.6em;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0;
    }

    .menu li a:after {
        display: none;
    }

    .menu li a,
    .menu li span {
        background: #ffffff;
        color: #797979;
        padding: 11px 20px;
        border-top: 1px solid #e0e0e0;
        border-left: 3px solid #ffffff;
    }

    .menu li a:hover,
    .menu li:hover>a,
    .menu li span:hover {
        background: #fff;
        color: #B52421;
        border-left: 3px solid #B52421;
    }

    .menu ul {
        display: block;
        position: relative;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
    }

    .menu ul li a {
        border: none;
        border-top: 1px solid #e0e0e0;
        border-left: 3px solid #ffffff;
        text-align: left;
        padding-left: 30px !important;
        font-size: 14px;
    }

    .menu ul li a:hover,
    .menu ul li:hover>a {
        border-left: 3px solid #B52421;
    }

    .menu ul ul {
        left: 0;
    }
}

/*=============  /top-menu ============= */
/*******************************************************************
* End Header
*******************************************************************/
/*******************************************************************
* 3 Revolution Slider
*******************************************************************/
.rs-slider {
    position: relative;
    z-index: 1;
}

.rs-slider .rs-text-1 {
    font-size: 40px;
    line-height: 1em;
    margin-bottom: 0.2em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-align: center;
}

@media (max-width: 1600px) {
    .rs-slider .rs-text-1 {
        font-size: 32px;
    }
}

@media (max-width: 1229px) {
    .rs-slider .rs-text-1 {
        font-size: 22px;
    }
}

@media (max-width: 991px) {
    .rs-slider .rs-text-1 {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .rs-slider .rs-text-1 {
        font-size: 16px;
    }
}

@media (max-width: 479px) {
    .rs-slider .rs-text-1 {
        font-size: 12px;
    }
}

.rs-slider .rs-text-2 {
    font-size: 22px;
    line-height: 1.2em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin-top: 0.2em;
    text-align: center;
}

@media (max-width: 1600px) {
    .rs-slider .rs-text-2 {
        font-size: 18px;
    }
}

@media (max-width: 1229px) {
    .rs-slider .rs-text-2 {
        font-size: 14px;
    }
}

@media (max-width: 991px) {
    .rs-slider .rs-text-2 {
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .rs-slider .rs-text-2 {
        font-size: 8px;
    }
}

@media (max-width: 479px) {
    .rs-slider .rs-text-2 {
        font-size: 7px;
    }
}

.rs-slider .rs-btn {
    font-size: 16px;
    line-height: 20px;
    padding: 17px 24px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    -moz-transition: background 0.25s ease !important;
    -o-transition: background 0.25s ease !important;
    -webkit-transition: background 0.25s ease !important;
    transition: background 0.25s ease !important;
}

@media (max-width: 1600px) {
    .rs-slider .rs-btn {
        padding: 15px 22px;
    }
}

@media (max-width: 1229px) {
    .rs-slider .rs-btn {
        padding: 10px 16px;
        font-size: 13px;
    }
}

@media (max-width: 991px) {
    .rs-slider .rs-btn {
        padding: 8px 12px;
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .rs-slider .rs-btn {
        padding: 6px 12px;
        font-size: 10px;
    }
}

.rs-slider .rs-text-2.color-grey {
    margin-top: 1em;
}

.rs-slider .color-grey {
    color: #454545;
    text-transform: uppercase;
}

@media (max-width: 561px) {
    .rs-slider .color-grey br {
        display: none;
    }
}

.rs-slider .rs-btn:hover {
    color: #fff;
    background: #111;
}

.rs-slider .btn-green {
    background: #b52421;
}

.rs-slider .btn-blue {
    background: #b52421;
}

.rs-slider .tp-caption.tp-scale {
    position: relative;
}

.rs-slider .tp-caption.tp-scale:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #162d45;
    opacity: 0.4;
    z-index: 1;
    -moz-transition: opacity 0.9s ease;
    -o-transition: opacity 0.9s ease;
    -webkit-transition: opacity 0.9s ease;
    transition: opacity 0.9s ease;
}

.rs-slider .tp-caption.tp-scale.zoom:after {
    opacity: 0.1;
}

.rs-slider .tp-caption.tp-scale img,
.rs-slider .tp-caption.tp-full-image img {
    width: 100% !important;
    height: auto !important;
    -moz-transition: all 0.9s ease;
    -o-transition: all 0.9s ease;
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.rs-slider .tp-caption.tp-full-height img {
    max-height: 100% !important;
    width: auto !important;
}

.rs-slider .tp-caption.tp-scale {
    overflow: hidden;
}

.rs-slider .tp-caption.tp-scale.zoom img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.rs-slider .tp-caption.tp-hovertext .rs-text-1,
.rs-slider .tp-caption.tp-hovertext .rs-text-2 {
    -moz-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.rs-slider .tp-caption.tp-hovertext.dark .rs-text-1,
.rs-slider .tp-caption.tp-hovertext.dark .rs-text-2 {
    color: #454545;
}

.rs-slider .tp-caption.tp-hovertext.dark .rs-text-1 {
    margin-top: -1.2em;
    padding-bottom: 1.2em;
}

.rs-slider .tp-caption.tp-hovertext.color .rs-text-1,
.rs-slider .tp-caption.tp-hovertext.color .rs-text-2 {
    color: #454545;
}

.rs-slider .tp-caption.tp-hovertext.color .rs-text-1 {
    margin-top: -1.2em;
    padding-bottom: 1.2em;
}

.rs-slider .tp-caption.tp-hovertext.up .rs-text-1 {
    margin-top: -1.2em;
    padding-bottom: 1.2em;
}

/*  NAV SLIDER  */
.tp-leftarrow.default {
    z-index: 1;
    cursor: pointer;
    position: relative;
    background: none !important;
    width: 40px;
    height: 40px;
}

.tp-rightarrow.default {
    z-index: 1;
    cursor: pointer;
    position: relative;
    background: none !important;
    width: 40px;
    height: 40px;
}

.tp-leftarrow.default,
.tp-rightarrow.default {
    top: 50% !important;
    margin-top: -20px !important;
    color: #fff;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.tp-leftarrow.default:hover,
.tp-rightarrow.default:hover {
    color: #B52421;
}

.tp-leftarrow.default:before,
.tp-rightarrow.default:before {
    font-family: 'laundry';
    font-size: 39px;
    line-height: 40px;
    cursor: pointer;
}

.tp-leftarrow.default:before {
    content: "\e927";
}

.tp-rightarrow.default:before {
    content: "\e928";
}

/*******************************************************************
* End rs-slider
*******************************************************************/
/*******************************************************************
* 4. Content
*******************************************************************/
/* 4.1 offset
================================================== */
.page-content .container,
.page-content .content {
    margin-top: 72px;
}

@media (max-width: 1199px) {

    .page-content .container,
    .page-content .content {
        margin-top: 60px;
    }
}

@media (max-width: 992px) {

    .page-content .container,
    .page-content .content {
        margin-top: 50px;
    }
}

.page-content .offset-top-35 {
    position: relative;
    margin-top: -35px;
    z-index: 3;
}

@media (max-width: 700px) {
    .page-content .offset-top-35 {
        margin-top: 0;
    }
}

.page-content .offset-top0 {
    margin-top: 0px;
}

.page-content .offset-top50 {
    margin-top: 50px;
}

.page-content .offset-top60 {
    margin-top: 60px;
}

.page-content .offset-top90 {
    margin-top: 90px;
}

@media (max-width: 1199px) {
    .page-content .offset-top90 {
        margin-top: 60px;
    }
}

@media (max-width: 992px) {
    .page-content .offset-top90 {
        margin-top: 50px;
    }
}

.offset-top0 {
    margin-top: 0px !important;
}

/* offset
================================================== */
/* 4.2 fill-bg
================================================== */
.fill-bg-1 {
    background: #b52421;
    color: #fff;
}

.fill-bg-2 {
    background: #f5f5f5;
}

.fill-bg-3 {
    background: #363435;
    color: #fff;
}

/* fill-bg
================================================== */
/* 4.3 services-box
================================================== */
.services-box-mobile .slick-dots {
    bottom: -10px;
}

.services-box {
    text-align: center;
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    padding: 52px 30px 30px 30px;
    min-height: 339px;
}

.services-box:hover .icon {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.services-box:hover svg {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.services-box:hover .title {
    margin-top: 23px;
    margin-bottom: 20px;
}

.services-box svg {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 90px;
    width: 100%;
}

.services-box .icon {
    font-size: 90px;
    line-height: 90px;
    position: absolute;
    top: 54px;
    left: 50%;
    margin: 0 0 0 -45px;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.services-box .icon-box {
    height: 125px;
}

.services-box .title {
    margin-top: 43px;
    font-size: 22px;
    padding-bottom: 4px;
    line-height: 1.363em;
    text-transform: uppercase;
    font-family: "Rubik", sans-serif;
    font-weight: normal;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

@media (max-width: 1199px) and (min-width: 667px) {
    .services-box .title {
        font-size: 18px;
    }
}

.services-box p {
    font-weight: 400;
}

.services-box.fill-bg-1 {
    color: #fff;
}

.services-box.fill-bg-1 .icon {
    color: #fff;
}

.services-box.fill-bg-1 svg {
    fill: #fff;
}

.services-box.fill-bg-2 {
    color: #5e5e5e;
}

.services-box.fill-bg-2 .icon {
    color: #454545;
}

.services-box.fill-bg-2 svg {
    fill: #454545;
}

.services-box.fill-bg-3 {
    color: #fff;
}

.services-box.fill-bg-3 .icon {
    color: #fff;
}

.services-box.fill-bg-3 svg {
    fill: #fff;
}

/* /services-box
================================================== */
/* 4.4 box-step
================================================== */
.fill-bg-green {
    background: #B52421;
}

.fill-bg-aquamarine {
    background: #46d8cc;
}

.fill-bg-blue-light {
    background: #B52421;
}

.fill-bg-blue-dark {
    background: #366dc0;
}

.img-responsive1 {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.box-step {
    padding: 29px 0 18px 0;
    overflow: hidden;
}

.box-step h2 {
    margin-bottom: 41px;
    padding: 0 15px;
    text-align: center;
}

.box-step .item {
    float: left;
    position: relative;
    margin: 25px;
}

@media (max-width: 900px) {
    .box-step .item {
        width: 45%;
        margin: 0 2.5%;
        text-align: center;
    }

    .box-step .item:after {
        display: none;
    }
}

@media (max-width: 500px) {
    .box-step .item {
        width: 95%;
    }
}

.box-step .item:hover .title {
    color: #454545;
    margin-top: 19px;
    margin-bottom: -10px;
}

.box-step .item:hover .description {
    color: #B52421;
}

.box-step .item:hover .icon img {
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.box-step .item:last-child {
    margin-right: 0;
}

.box-step .icon {
    text-align: center;
}

.box-step .icon img {
    height: auto;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s;
}

.box-step .description {
    text-align: center;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    margin-top: 23px;
	color:#000;
}


.box-step .title {
    text-align: center;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    max-width: 200px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
	color:#000;
}


/* /box-step
================================================== */
/* 4.5 promo-fluid
================================================== */
.promo-fluid {
    background: #46d8cc;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 52px 36px 48px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.promo-fluid:hover {
    background: #B52421;
    color: #fff;
}

/* /promo-fluid
================================================== */
/* 4.6 box-icon-text
================================================== */
.box-color-white {
    color: #fff;
}

.box-color-white .title-underline {
    color: #fff;
}

.box-color-white .title-underline:after {
    background: #fff;
}

.box-icon-text {
    text-align: left;
    padding-bottom: 40px;
    overflow: hidden;
}

.box-icon-text .description {
    width: 80%;
    padding-top: 13px;
    margin-left: 78px;
}

.box-icon-text .title {
    line-height: 25px;
    font-weight: normal;
    font-family: "Rubik", sans-serif;
    padding-bottom: 17px;
}

.box-icon-text .title a {
    color: #fff;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.box-icon-text .title a:hover {
    color: #B52421;
}

.box-icon-text .icon {
    font-size: 50px;
    line-height: 50px;
    color: #B52421;
    display: inline-block;
    position: absolute;
}

/* /box-icon-text
================================================== */
/* 4.7 box-text
================================================== */
.box-text {
    padding: 15px 0 50px 0;
    overflow: hidden;
}

@media (max-width: 767px) {
    .box-text {
        padding: 15px 0 20px 0;
    }
}

.box-text .title {
    color: #454545;
    padding-bottom: 18px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.box-text .title a {
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    color: #454545;
}

.box-text .title:hover a {
    color: #B52421;
}

/* /box-text
================================================== */
/* 4.8 services-box-info
================================================== */
.services-box-info {
    border: 1px solid #e8e8e8;
    text-align: center;
    margin-top: 60px;
    padding: 0 30px 30px;
    display: block;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.services-box-info .img {
    margin-top: -76px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 227px;
    height: 227px;
    overflow: hidden;
    z-index: 1;
}

.services-box-info .img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.services-box-info .img img {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.services-box-info .title {
    margin-top: 47px;
    padding-bottom: 25px;
    line-height: 25px;
    text-transform: uppercase;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.services-box-info:hover {
    border: 1px solid #B52421;
}

.services-box-info:hover .title {
    color: #B52421;
}

.services-box-info:hover .img:after {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* /services-box-info
================================================== */
/* 4.9 product-box
================================================== */
.product-box-mobile .slick-dots {
    bottom: -10px;
}

.product-box {
    text-align: center;
    display: block;
    padding: 10px 0 25px 0;
}

.product-box .icon {
    font-size: 200px;
    line-height: 200px;
    margin-bottom: 40px;
    display: inline-block;
    color: #5e5e5e;
    margin-bottom: 48px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.product-box .title {
    font-weight: 500;
    text-align: center;
}

.product-box .description {
    padding-top: 2px;
}

.product-box:hover .icon {
    color: #B52421;
}

/* /product-box
================================================== */
/* 4.10 carousel-blog-box
================================================== */
@media only screen and (min-width: 1025px) {
    .carusel--parallax {
        background-attachment: fixed;
    }
}

.carusel--parallax {
    overflow: hidden;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.carousel-blog-box {
    padding: 14px 0 87px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .carousel-blog-box {
        padding: 14px 0 0;
    }
}

.carousel-blog-box a {
    display: inline-block;
    position: relative;
}

@media (min-width: 992px) {
    .carousel-blog-box .col-xs-3:after {
        content: "“";
        display: inline-block;
        position: absolute;
        top: -20px;
        right: 170px;
        font-size: 150px;
        line-height: 150px;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        color: #B52421;
    }
}

.carousel-blog-box .img {
    display: inline-block;
    position: relative;
    overflow: hidden;
    float: right;
    width: 123px;
    height: 123px;
    background: #B52421;
    text-align: center;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.carousel-blog-box .img:before {
    content: "\e909";
    display: inline-block;
    position: absolute;
    top: 49px;
    left: 37px;
    font-size: 50px;
    font-family: 'laundry';
}

@media (max-width: 767px) {
    .carousel-blog-box .img {
        width: 55px;
        height: 55px;
    }

    .carousel-blog-box .img:before {
        top: 14px;
        left: 10px;
        font-size: 36px;
    }
}

.carousel-blog-box .center-y {
    height: 123px;
    display: table-cell;
    vertical-align: middle;
}

.carousel-blog-box .title {
    line-height: 29px;
    color: #B52421;
    font-weight: bold;
    display: inline-block;
    font-family: "Lato", sans-serif;
}

.carousel-blog-box .title a {
    color: #B52421;
}

@media (max-width: 420px) {
    .carousel-blog-box .title {
        font-size: 20px;
        line-height: 27px;
    }
}

.carousel-blog-box .description {
    font-size: 19px;
    line-height: 29px;
    font-style: italic;
    font-weight: 300;
    display: inline-block;
    margin-top: 10px;
    color: #000 !important;
}

@media (max-width: 420px) {
    .carousel-blog-box .description {
        font-size: 18px;
        line-height: 22px;
    }
}

/* /carousel-blog-box
================================================== */
/* 4.11 map
================================================== */
#map {
    height: 389px;
    width: 100%;
}

/* /map
================================================== */
/* 4.12 tab-history
================================================== */
.tab-history {
    padding-top: 30px;
}

.tab-history .nav-tabs {
    border: none;
    position: relative;
}

.tab-history .nav-tabs:before {
    content: '';
    width: 100%;
    height: 1px;
    background: #dddddd;
    top: -6px;
    position: absolute;
    display: block;
}

.tab-history .nav-tabs li {
    width: 16.66%;
    position: relative;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    top: -12px;
    transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}

.tab-history .nav-tabs li a {
    display: block;
    padding: 36px 0 0 0;
    border: none;
    transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}

.tab-history .nav-tabs li:before {
    content: "";
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #B52421;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    left: 50%;
    top: 0;
    position: absolute;
    margin-left: -6px;
}

.tab-history .nav-tabs li:hover a {
    background: none;
    border: none;
}

.tab-history .nav-tabs li:hover:before {
    background: #B52421;
}

.tab-history .nav-tabs li.active a {
    border: none;
    background: none;
}

.tab-history .nav-tabs li.active:before {
    background: #B52421;
    width: 21px;
    height: 21px;
    top: -4px;
    margin-left: -9px;
}

.tab-history .nav-tabs li {
    text-align: center;
}

.tab-history .tab-content {
    padding: 40px 0 0 0;
    text-align: left;
}

.tab-history .tab-content .img {
    margin: 25px 0 0 0;
    width: 100%;
    height: auto;
}

.tab-history .tab-content .title {
    padding: 0 0 17px 0;
}

/* tab-history
================================================== */
/* 4.13 permission-box
================================================== */
.permission-box-mobile .slick-dots {
    bottom: -10px;
}

.permission-box {
    position: relative;
    margin-bottom: 40px;
    display: block;
}
.permission-box p {
	color:#000;
}
.permission-box .icon {
    font-size: 50px;
    line-height: 50px;
    color: #B52421;
    position: absolute;
}

.permission-box .description {
    padding: 0 0 0 79px;
}

.permission-box .title {
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    line-height: 27px;
    padding: 10px 0 15px 0;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    color: #454545;
}

.permission-box:hover .title {
    color: #B52421;
}

/* /permission-box
================================================== */
/* 4.14 breadcrumb
================================================== */
.breadcrumb {
    border-bottom: 1px solid #dce9ee;
    background: #fff;
}

.breadcrumb ul {
    padding: 0;
    margin: 0 0 0 24px;
    list-style: none;
}

.breadcrumb li {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    color: #b6bdc0;
    padding: 0 0 0 20px;
    margin-right: 10px;
    font-weight: 500;
    font-family: "Rubik", sans-serif;
}

.breadcrumb li:before {
    content: '\e928';
    font-family: 'laundry';
    font-size: 8px;
    left: 0;
    position: absolute;
    display: inline-block;
}

.breadcrumb li:first-child:before {
    display: none;
}

.breadcrumb li a {
    color: #b6bdc0;
}

.breadcrumb li a:hover {
    color: #B52421;
}

.breadcrumb li:first-child {
    padding: 0;
}

/* /breadcrumb
================================================== */
/* 4.15 box-personal
================================================== */
.box-personal {
    text-align: center;
    padding-bottom: 50px;
    overflow: hidden;
    display: block;
}

.box-personal .img {
    overflow: hidden;
    position: relative;
    width: 240px;
    height: 240px;
    margin: 0 auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.box-personal .img:after {
    content: '';
    position: absolute;
    width: 102%;
    height: 102%;
    left: -1%;
    top: -1%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.box-personal .img img {
    width: 100%;
    height: auto;
}

.box-personal .title {
    margin-top: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.box-personal .description {
    font-size: 16px;
    line-height: 24px;
    font-style: italic;
    text-transform: uppercase;
    margin-top: 15px;
}

.box-personal:hover .title {
    color: #B52421;
}

.box-personal:hover .img:after {
    box-shadow: inset 0 0 0 20px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* /box-personal
================================================== */
/* 4.16 product-total
================================================== */
.product-total {
    padding: 20px 0 78px;
    overflow: hidden;
}

.product-total .icon {
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    color: #B52421;
    margin-bottom: 33px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-total .title {
    font-size: 48px;
    line-height: 53px;
    color: #fff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.product-total .description {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-family: "Rubik", sans-serif;
    margin-top: 9px;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.product-total:hover .icon {
    color: #fff;
}

.product-total:hover .description {
    margin-top: 29px;
    margin-bottom: -20px;
}

.product-total:hover .title {
    color: #B52421;
}

/* /product-total
================================================== */
/* 4.17 social-icon-content
================================================== */
.social-icon-content {
    text-align: right;
    margin-top: 25px;
}

.social-icon-content li {
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 12px;
}

.social-icon-content li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #f5f5f5;
    text-align: center;
    color: #404040;
    font-size: 18px;
    line-height: 50px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social-icon-content li a:hover {
    background: #404040;
    color: #fff;
}

.social-icon-content li:first-child {
    margin-left: 0;
}

/* /social-icon-content
================================================== */
/* 4.18 contact-box
================================================== */
/* contact-box-01
================================================== */
.contact-box-01 {
    position: relative;
    padding-right: 33px;
    text-align: right;
    font-weight: 400;
}

.contact-box-01 .title {
    line-height: 24px;
    color: #454545;
    font-weight: bold;
}

.contact-box-01:before {
    content: "\e908";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    right: 0;
    font-size: 21px;
    line-height: 27px;
    color: #B52421;
}

@media (max-width: 767px) {
    .contact-box-01 {
        padding: 0;
        text-align: center;
    }

    .contact-box-01:before {
        position: relative;
        margin-bottom: 15px;
    }
}

/* /contact-box-01
================================================== */
/* contact-box-02
================================================== */
.contact-box-02 {
    position: relative;
    padding-right: 33px;
    margin-top: 29px;
    text-align: right;
    font-weight: 400;
}

.contact-box-02 .title {
    font-size: 17px;
    line-height: 24px;
    color: #454545;
    font-weight: bold;
}

.contact-box-02:before {
    content: "\e906";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    right: 0;
    font-size: 21px;
    line-height: 27px;
    color: #B52421;
}

@media (max-width: 767px) {
    .contact-box-02 {
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }

    .contact-box-02:before {
        position: relative;
        margin-bottom: 15px;
    }
}

/* /contact-box-02
================================================== */
/* contact-box-03
================================================== */
.contact-box-03 {
    margin-top: 29px;
    text-align: right;
}

.contact-box-03 .title {
    font-size: 17px;
    line-height: 24px;
    color: #454545;
    font-weight: bold;
}

.contact-box-03 a {
    text-decoration: underline;
}

.contact-box-03 a:hover {
    text-decoration: none;
}

@media (max-width: 767px) {
    .contact-box-03 {
        text-align: center;
        padding: 0;
        margin-top: 20px;
    }
}

/* /contact-box-03
================================================== */
/* 4.19 form
================================================== */
.form-control {
    border: 1px solid #dbdbdb;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
    box-shadow: none;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    color: #959595;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 20px;
    padding: 15px;
    height: 50px;
    margin-bottom: 20px;
}

textarea.form-control {
    margin-bottom: 30px;
}

.control-label {
    font-weight: 400;
}

.form-control:focus {
    border-color: #B52421;
    outline: 0;
    box-shadow: none;
}

.btn-default,
.btn-default:visited {
    background: #B52421;
    border: none;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    padding: 17px 32px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    outline: none !important;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-default:hover,
.btn-default:visited:hover {
    background: #000;
    color: #fff;
}

.btn-default.btn-blue {
    background: #B52421;
}

.btn-default.btn-blue:hover {
    background: #000;
    color: #fff;
}

.social-icon-content {
    text-align: right;
    float: right;
    margin-top: 75px;
    overflow: hidden;
}

.social-icon-content li {
    display: inline-block;
    float: none;
}

@media (max-width: 767px) {
    .social-icon-content {
        text-align: center;
        width: 100%;
        margin-top: 45px;
        margin-bottom: 35px;
    }
}

form label.error {
    display: block;
    color: #ff0000;
    font-size: 12px;
    opacity: 1;
}

#success,
#error {
    display: none;
    height: 70px;
}

#success span,
#error span {
    display: block;
}

#success span p,
#error span p {
    margin-top: 15px;
}

#success span p {
    color: #2990d6;
}

#error span p {
    color: #c0392b;
}

/* form
================================================== */
/*******************************************************************
* End Content
*******************************************************************/
/*******************************************************************
* 5. Footer
*******************************************************************/
.social-icon-footer {
    text-align: right;
}

@media (max-width: 991px) {
    .social-icon-footer {
        text-align: center;
    }
}

.social-icon-footer li {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 12px;
}

.social-icon-footer li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #fff;
    text-align: center;
    color: #404040;
    font-size: 18px;
    line-height: 50px;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.social-icon-footer li a:hover {
    background: #404040;
    color: #fff;
}

.social-icon-footer li:first-child {
    margin-left: 0;
}

.footer-separator {
    border-bottom: 1px solid #1ba5dd;
    overflow: hidden;
    padding-top: 42px;
    padding-bottom: 28px;
    margin-bottom: 20px;
}

.promo-footer {
    font-family: "Rubik", sans-serif;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 25px;
}

.promo-footer .text-1 {
    color: #cce5ff;
    text-transform: uppercase;
    margin-right: 11px;
}

.promo-footer .text-2 {
    font-weight: 500;
}

@media (max-width: 1199px) {

    .promo-footer .text-1,
    .promo-footer .text-2 {
        display: block;
        text-align: center;
    }
}

.copyright-box {
    padding-bottom: 40px;
    font-weight: 400;
    line-height: 24px;
}

footer {
    position: relative;
}

footer .box-location {
    position: relative;
    font-weight: 400;
    padding: 0 0 28px 32px;
    font-size: 18px;
    line-height: 26px;
}

footer .box-location:before {
    content: "\e908";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    color: red;
    font-size: 21px;
    line-height: 27px;
    color: #fff;
}

.time-table {
    position: relative;
    font-weight: 400;
    padding: 0 0 28px 35px;
    font-size: 18px;
    line-height: 26px;
}

.time-table:before {
    content: "\e907";
    font-family: 'laundry';
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    color: red;
    font-size: 21px;
    line-height: 27px;
    color: #fff;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .footer-link {
        font-size: 13px;
    }
}

.footer-link li {
    padding: 0 0 3px 0;
}

.footer-link li a {
    color: #fff;
    text-decoration: underline;
    font-weight: 400;
    transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
}

.footer-link li a:hover {
    text-decoration: none;
}

footer {
    background: #0098d6;
    color: #fff;
    padding: 37px 0 37px 0;
}

footer p a {
    color: #ccc;
}

footer .container:last-child {
    margin-top: 47px;
}

@media (max-width: 1229px) {

    footer .footer-separator .pull-left,
    footer .footer-separator .pull-right {
        width: 100%;
    }

    footer .logo-footer img {
        max-width: 280px;
        height: auto;
    }
}

@media (max-width: 991px) {
    footer {
        text-align: center;
    }

    footer .footer-link li {
        display: inline-block;
        padding: 0 15px;
    }

    footer .box-location {
        width: 250px;
        margin: 0 auto;
        text-align: left;
    }

    footer .time-table {
        width: 250px;
        margin: 0 auto;
        text-align: left;
    }

    footer .footer-separator {
        margin-top: 10px;
    }

    footer .copyright-box {
        border-top: 1px solid #1ba6df;
        padding-top: 25px;
    }

    footer .promo-footer>span {
        display: block;
        width: 100%;
        float: inherit;
    }
}

@media (max-width: 500px) {
    footer .promo-footer {
        font-size: 28px;
        line-height: 35px;
    }
}

footer .footer-separator {
    padding: 30px 0;
}

footer .container:last-child {
    margin-top: 30px;
}

footer .copyright-box {
    padding-bottom: 30px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    footer .copyright-box {
        font-size: 13px;
        line-height: 18px;
    }
}

/*******************************************************************
* End Footer
*******************************************************************/
/*******************************************************************
* 6. Blog
*******************************************************************/
/* post
================================================== */
.blog-post {
    margin-bottom: 75px;
}

@media (max-width: 767px) {
    .blog-post {
        margin-bottom: 55px;
    }
}

.blog-post .post-video {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.blog-post .post-video iframe,
.blog-post .post-video object,
.blog-post .post-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.blog-post .post-music iframe,
.blog-post .post-music object,
.blog-post .post-music embed {
    width: 100%;
    height: auto;
    border: 0;
}

.blog-post .post-image {
    position: relative;
    margin-bottom: 36px;
    border-radius: 0;
}

.blog-post .post-image img {
    width: 100%;
}

.blog-post .post-image .post-link-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.blog-post .post-image .post-link {
    font-size: 44px;
    font-weight: 300;
    line-height: 1em;
    color: #fff;
    font-family: "Lato", sans-serif;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

@media (max-width: 767px) {
    .blog-post .post-image .post-link {
        font-size: 4vw;
    }
}

.blog-post .post-image .post-link:hover {
    color: #B52421;
    text-decoration: none;
}

.blog-post .post-title {
    font-size: 44px;
    line-height: 1.1em;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
}

@media (max-width: 667px) {
    .blog-post .post-title {
        font-size: 30px;
    }
}

.blog-post .post-title,
.blog-post .post-title a {
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}

.blog-post .post-title a:hover {
    color: #B52421;
}

.blog-post .post-meta {
    margin: 0 0 24px;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.blog-post .post-meta li {
    float: left;
    padding-right: 24px;
    font-size: 14px;
    line-height: 18px;
}

.blog-post .post-meta li i.icon,
.blog-post .post-meta li span {
    display: inline-block;
    vertical-align: top;
}

.blog-post .post-meta li i.icon {
    font-size: 18px;
    padding-right: 5px;
    color: #B52421;
}

.blog-post .post-meta li:last-child {
    padding-right: 0;
}

@media (max-width: 767px) {
    .blog-post .post-meta li {
        padding-right: 10px;
    }
}

.blog-post .post-meta li.post-message {
    font-size: 15px;
}

.blog-post .post-teaser {
    margin-bottom: 28px;
}

.blog-post .post-author {
    margin: 20px 0 18px;
    font-size: 16px;
    font-style: italic;
}

.blog-post .post-author img {
    margin-right: 20px;
    border-radius: 50%;
}

.blog-post .post-quote {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(53, 58, 77, 0.75);
    width: 100%;
    height: 100%;
    padding: 0 8% 0 16%;
    color: #fff;
    overflow: hidden;
}

.blog-post .post-quote p {
    position: relative;
    font-size: 24px;
    line-height: 1.25em;
    font-style: italic;
    font-weight: 300;
}

@media (max-width: 667px) {
    .blog-post .post-quote p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .blog-post .post-quote p {
        font-size: 12px;
    }
}

.blog-post .post-quote p:after {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    content: '“';
    display: block;
    position: absolute;
    top: -80px;
    left: -70px;
    color: #B52421;
    font-size: 155px;
    line-height: 1em;
    font-style: normal;
}

@media (max-width: 667px) {
    .blog-post .post-quote p:after {
        top: -60px;
        left: -50px;
        font-size: 100px;
    }
}

@media (max-width: 400px) {
    .blog-post .post-quote p:after {
        top: -35px;
        left: -40px;
        font-size: 70px;
    }
}

.blog-post .post-quote .quote-author {
    margin-bottom: 10px;
    position: relative;
    font-size: 22px;
    line-height: 24px;
    color: #B52421;
    font-weight: 900;
}

@media (max-width: 400px) {
    .blog-post .post-quote .quote-author {
        font-size: 18px;
        margin-bottom: 0;
    }
}

.blog-post.single {
    margin-bottom: 0;
}

/* blogpost carousel
================================================== */
.post-carousel {
    overflow: hidden;
}

.post-carousel .slick-prev,
.post-carousel .slick-next,
.post-carousel .slick-prev:focus,
.post-carousel .slick-next:focus {
    width: 54px;
    height: 84px;
    padding: 0;
    background-color: #fff;
    text-align: center;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.post-carousel .slick-prev:hover,
.post-carousel .slick-next:hover {
    opacity: 0.7;
    background-color: #fff;
}

.post-carousel .slick-prev {
    left: 0;
}

.post-carousel .slick-next {
    right: 0;
}

.post-carousel .slick-prev:before,
.post-carousel .slick-next:before {
    color: #454545;
    font-size: 30px;
    font-family: 'laundry';
}

.post-carousel .slick-next:before {
    content: '\e928';
    padding-left: 7px;
}

.post-carousel .slick-prev:before {
    content: '\e927';
    padding-right: 7px;
}

/* post preview
================================================== */
.post-preview {
    margin-top: 22px;
    margin-bottom: 65px;
}

.post-preview .post-image {
    margin-bottom: 20px;
}

.post-preview .post-meta {
    margin-bottom: 15px;
    font-size: 13px;
}

.post-preview .post-author {
    margin: 0 0 10px;
}

.post-preview .post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.view-more-post {
    margin-bottom: 30px;
}

/* sidebar block
================================================== */
.side-block {
    margin-bottom: 60px;
}

.side-block h3 {
    margin-bottom: 18px;
    text-transform: uppercase;
}

.side-block:last-child {
    border-bottom: 0;
}

/* comments
================================================== */
.comments {
    padding-top: 15px;
}

.comments .comment {
    margin: 20px 0 20px;
}

.comments .comment .userpic {
    width: 92px;
    height: 92px;
    float: left;
    margin: 0 23px 0 0;
    font-size: 40px;
    line-height: 92px;
    background-color: #B52421;
    border-radius: 50%;
    color: #fff;
    text-align: center;
}

@media (max-width: 767px) {
    .comments .comment .userpic {
        width: 52px;
        height: 52px;
        font-size: 30px;
        line-height: 52px;
    }
}

.comments .comment .text {
    overflow: hidden;
    padding-top: 10px;
}

.comments .comment .text .meta {
    padding-bottom: 10px;
    font-size: 14px;
}

.comments .comment .text .meta a.reply {
    padding: 0 5px 1px;
    border-radius: 2px;
    color: #fff;
    background-color: #B52421;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    -moz-transition: color 200ms ease;
    -o-transition: color 200ms ease;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}

.comments .comment .text .meta a.reply:hover {
    background-color: #B52421;
}

.comments .comment .text .author {
    padding-right: 8px;
    font-size: 16px;
}

.comments .comment .text .date {
    padding: 0 20px 0 8px;
}

.comments .comment.replay {
    margin-left: 115px;
}

@media (max-width: 767px) {
    .comments .comment.replay {
        margin-left: 70px;
    }
}

.comment-form {
    margin-bottom: 50px;
}

.comment-form .textarea-custom {
    height: 235px;
}

/* category list
================================================== */
.category-list {
    margin: 10px 0 30px;
    padding: 0;
    list-style: none;
}

.category-list>li {
    position: relative;
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    line-height: 20px;
    border-bottom: 1px dotted #ccc;
}

.category-list>li:last-child {
    border-bottom: 0;
}

.category-list>li a {
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.category-list>li a:hover {
    text-decoration: none;
    color: #B52421;
}

.category-list>li:after {
    position: absolute;
    top: 10px;
    left: 0;
    display: block;
    font-family: 'laundry';
    content: "\e928";
    font-size: 12px;
    color: #B52421;
}

/* tags
================================================== */
.tag,
.tags-list li a {
    display: block;
    font-size: 15px;
    line-height: 30px;
    padding: 0 10px;
    margin: 0 4px 4px 0;
    text-decoration: none;
    border-radius: 3px;
    background-color: #f0f0f0;
    color: #8f8f8f;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.tag:hover,
.tags-list li a:hover {
    background-color: #B52421;
    color: #fff;
}

.tags-list {
    position: relative;
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.tags-list li {
    display: inline-block;
    padding: 0;
    margin-bottom: 5px;
    margin-right: 2px;
}

/* blockquote
================================================== */
blockquote {
    position: relative;
    padding: 0 0 0 25px;
    margin: 35px 0 20px 0;
    border-left: 0;
}

blockquote p {
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    padding-left: 25px;
    border-left: 4px solid #B52421;
}

blockquote .quote-author {
    font-weight: 500;
    padding-left: 25px;
}

/* card blog post (masonry)
================================================== */
.blog-isotope {
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 10px;
    overflow: visible;
}

.blog-isotope .blog-post {
    position: relative;
    float: left;
    width: calc(33.333% - 20px);
    padding: 0;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .blog-isotope .blog-post {
        width: calc(50% - 15px);
    }
}

@media (max-width: 667px) {
    .blog-isotope .blog-post {
        width: 100%;
    }
}

.blog-isotope .blog-post {
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.blog-isotope .blog-post .post-content {
    padding: 0 20px;
}

.blog-isotope .blog-post .post-image {
    margin-bottom: 20px;
}

.blog-isotope .blog-post .post-image .post-link {
    font-size: 22px;
}

@media (max-width: 1229px) {
    .blog-isotope .blog-post .post-image .post-link {
        font-size: 18px;
    }
}

.blog-isotope .blog-post .post-meta {
    margin-bottom: 15px;
    font-size: 13px;
}

.blog-isotope .blog-post .post-author {
    margin: 0 0 10px;
}

.blog-isotope .blog-post .post-title {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 10px;
    text-transform: uppercase;
}

.blog-isotope .blog-post .post-carousel {
    overflow: hidden;
}

.blog-isotope .blog-post .post-carousel .slick-prev,
.blog-isotope .blog-post .post-carousel .slick-next,
.blog-isotope .blog-post .post-carousel .slick-prev:focus,
.blog-isotope .blog-post .post-carousel .slick-next:focus {
    width: 44px;
    height: 64px;
    padding: 0;
}

.blog-isotope .blog-post .post-carousel .slick-prev:before,
.blog-isotope .blog-post .post-carousel .slick-next:before {
    font-size: 30px;
    line-height: 64px;
}

.blog-isotope .blog-post .post-carousel .slick-next:before {
    padding-left: 5px;
}

.blog-isotope .blog-post .post-carousel .slick-prev:before {
    padding-right: 5px;
}

.blog-isotope .blog-post .post-quote p {
    font-size: 20px;
}

@media (max-width: 1229px) {
    .blog-isotope .blog-post .post-quote p {
        font-size: 16px;
    }
}

.blog-isotope .blog-post .post-quote p:after {
    top: -60px;
    left: -50px;
    font-size: 120px;
}

@media (max-width: 1400px) {
    .blog-isotope .blog-post .post-quote p:after {
        top: -55px;
        left: -45px;
        font-size: 100px;
    }
}

.blog-isotope .blog-post .post-quote .quote-author {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 20px;
}

/* calendar
================================================== */
.calendar__header {
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 18px;
}

.calendar__footer {
    font-size: 15px;
    padding: 10px 0 0;
}

.calendar__footer a {
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.calendar__footer a:hover {
    color: #B52421;
}

.calendar table {
    background: #fff;
    border-collapse: collapse;
    color: #222;
    font-size: 15px;
    width: 100%;
    max-width: 350px;
}

.calendar th,
.calendar td {
    border: 1px solid #eee;
    color: #484848;
    cursor: pointer;
    line-height: 38px;
    text-align: center;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.calendar th:hover,
.calendar td:hover {
    background-color: #f5f5f5;
}

.calendar th {
    background-color: #f5f5f5;
}

.calendar tr:first-child td {
    color: #222;
    font-weight: 700;
    padding-bottom: 10px;
}

.calendar .selected,
.calendar .selected:hover {
    background-color: #B52421;
    color: #fff;
}

/* helpers
================================================== */
.vert-wrap,
.vert-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.vert-wrap .vert,
.vert-wrapper .vert {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.divider-line {
    clear: both;
    height: 70px;
    margin-top: 70px;
    border-top: 1px solid #d3d4d7;
}

@media (max-width: 767px) {
    .divider-line {
        margin-top: 40px;
        height: 40px;
    }
}

/*******************************************************************
* End Blog
*******************************************************************/
/*******************************************************************
* 7. Icon Animation
*******************************************************************/
.svg-washer-icon:hover .disc,
.services-box:hover .disc {
    animation: rotateDisc 300ms 400ms infinite linear;
}

.svg-washer-icon .disc {
    transform-origin: 50% 50%;
    -moz-transform-origin: 50% 64% 0;
}

@-webkit-keyframes rotateDisc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@-moz-keyframes rotateDisc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@-o-keyframes rotateDisc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

@keyframes rotateDisc {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}

.svg-hanger-icon .hanger {
    transform-origin: 50% 0%;
}

.svg-hanger-icon:hover .hanger,
.services-box:hover .hanger {
    animation: hanger 1000ms infinite linear;
}

@-webkit-keyframes hanger {
    0% {
        transform: rotateY(0deg);
    }

    66% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@-moz-keyframes hanger {
    0% {
        transform: rotateY(0deg);
    }

    66% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@-o-keyframes hanger {
    0% {
        transform: rotateY(0deg);
    }

    66% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes hanger {
    0% {
        transform: rotateY(0deg);
    }

    66% {
        transform: rotateY(360deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.svg-hanger-icon .clothes {
    transform-origin: 50% 0%;
}

.svg-hanger-icon:hover .clothes,
.services-box:hover .clothes {
    animation: clothes 3000ms infinite linear;
}

@-webkit-keyframes clothes {
    0% {
        fill: #B52421;
    }

    33% {
        fill: #B52421;
    }

    34% {
        fill: #454545;
    }

    65% {
        fill: #454545;
    }

    66% {
        fill: #b52421;
    }

    100% {
        fill: #b52421;
    }
}

@-moz-keyframes clothes {
    0% {
        fill: #B52421;
    }

    33% {
        fill: #B52421;
    }

    34% {
        fill: #454545;
    }

    65% {
        fill: #454545;
    }

    66% {
        fill: #b52421;
    }

    100% {
        fill: #b52421;
    }
}

@-o-keyframes clothes {
    0% {
        fill: #B52421;
    }

    33% {
        fill: #B52421;
    }

    34% {
        fill: #454545;
    }

    65% {
        fill: #454545;
    }

    66% {
        fill: #b52421;
    }

    100% {
        fill: #b52421;
    }
}

@keyframes clothes {
    0% {
        fill: #B52421;
    }

    33% {
        fill: #B52421;
    }

    34% {
        fill: #454545;
    }

    65% {
        fill: #454545;
    }

    66% {
        fill: #b52421;
    }

    100% {
        fill: #b52421;
    }
}

.svg-vacuumcleaner-icon .tube {
    transform-origin: 0% 0%;
}

.svg-vacuumcleaner-icon:hover .tube,
.services-box:hover .tube {
    animation: tube 1000ms infinite linear;
}

@-webkit-keyframes tube {
    0% {
        transform: skew(-2deg);
    }

    50% {
        transform: skew(1deg);
    }

    100% {
        transform: skew(-2deg);
    }
}

@-moz-keyframes tube {
    0% {
        transform: skew(-2deg);
    }

    50% {
        transform: skew(1deg);
    }

    100% {
        transform: skew(-2deg);
    }
}

@-o-keyframes tube {
    0% {
        transform: skew(-2deg);
    }

    50% {
        transform: skew(1deg);
    }

    100% {
        transform: skew(-2deg);
    }
}

@keyframes tube {
    0% {
        transform: skew(-2deg);
    }

    50% {
        transform: skew(1deg);
    }

    100% {
        transform: skew(-2deg);
    }
}

.svg-vacuumcleaner-icon .hose {
    transform-origin: 100% 50%;
}

.svg-vacuumcleaner-icon:hover .hose,
.services-box:hover .hose {
    animation: hose 1000ms infinite linear;
}

@-webkit-keyframes hose {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes hose {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@-o-keyframes hose {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes hose {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(3deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.svg-vacuumcleaner-icon .vacuumcleaner {
    transform-origin: 0% 0%;
}

.svg-vacuumcleaner-icon:hover .vacuumcleaner,
.services-box:hover .vacuumcleaner {
    animation: vacuumcleaner 1000ms infinite linear;
}

@-webkit-keyframes vacuumcleaner {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@-moz-keyframes vacuumcleaner {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@-o-keyframes vacuumcleaner {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes vacuumcleaner {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-2%);
    }

    100% {
        transform: translateX(0);
    }
}

.rs-glow-1 {
    animation: glow 1500ms infinite linear;
}

.rs-glow-2 {
    animation: glow 2500ms infinite linear;
}

.rs-glow-3 {
    animation: glow 3500ms infinite ease;
}

@-webkit-keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes glow {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.animated:not(.no-animate) {
    -webkit-animation-duration: .9s;
    animation-duration: .9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
}

.animation {
    opacity: 0;
    opacity: 1\9;
}

.animation.no-animate {
    opacity: 1 !important;
    animation-name: none !important;
    -webkit-animation-name: none !important;
}

/* footer animation */
div[class^="bubble-"] {
    height: 1px;
    width: 1px;
    position: absolute;
    background: url(../images/buble.png) no-repeat center center;
    background-size: cover;
    border-radius: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.bubble-1 {
    bottom: -195px;
    left: 9%;
    animation: bubble-movement 4s infinite ease-in -4.3s;
}

.bubble-2 {
    bottom: -140px;
    left: 17%;
    animation: bubble-movement 4s infinite ease-in -1.49s;
}

.bubble-3 {
    bottom: -66px;
    left: 79%;
    animation: bubble-movement 4s infinite ease-in -6.49s;
}

.bubble-4 {
    bottom: -79px;
    left: 36%;
    animation: bubble-movement 4s infinite ease-in -4.97s;
}

.bubble-5 {
    bottom: -1px;
    left: 100%;
    animation: bubble-movement 4s infinite ease-in -1.38s;
}

.bubble-6 {
    bottom: -70px;
    left: 56%;
    animation: bubble-movement 4s infinite ease-in -0.46s;
}

.bubble-7 {
    bottom: -140px;
    left: 88%;
    animation: bubble-movement 4s infinite ease-in -6.36s;
}

.bubble-8 {
    bottom: -14px;
    left: 97%;
    animation: bubble-movement 4s infinite ease-in -0.56s;
}

.bubble-9 {
    bottom: -2px;
    left: 15%;
    animation: bubble-movement 4s infinite ease-in -5.81s;
}

.bubble-10 {
    bottom: -139px;
    left: 100%;
    animation: bubble-movement 4s infinite ease-in -4.5s;
}

.bubble-11 {
    bottom: -8px;
    left: 30%;
    animation: bubble-movement 3s infinite ease-in -5.37s;
}

.bubble-12 {
    bottom: -124px;
    left: 67%;
    animation: bubble-movement 3s infinite ease-in -5.33s;
}

.bubble-13 {
    bottom: -31px;
    left: 84%;
    animation: bubble-movement 3s infinite ease-in -0.9s;
}

.bubble-14 {
    bottom: -47px;
    left: 6%;
    animation: bubble-movement 3s infinite ease-in -3.21s;
}

.bubble-15 {
    bottom: -174px;
    left: 69%;
    animation: bubble-movement 3s infinite ease-in -2.1s;
}

.bubble-16 {
    bottom: -111px;
    left: 11%;
    animation: bubble-movement 3s infinite ease-in -1.29s;
}

.bubble-17 {
    bottom: -98px;
    left: 53%;
    animation: bubble-movement 3s infinite ease-in -4.72s;
}

.bubble-18 {
    bottom: -163px;
    left: 83%;
    animation: bubble-movement 3s infinite ease-in -5.72s;
}

.bubble-19 {
    bottom: -181px;
    left: 7%;
    animation: bubble-movement 3s infinite ease-in -2.56s;
}

.bubble-20 {
    bottom: -177px;
    left: 3%;
    animation: bubble-movement 3s infinite ease-in -5.6s;
}

.bubbleContainer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
}

@-webkit-keyframes bubble-movement {
    0% {
        transform: translate3d(-50%, 0, 0);
        height: 1px;
        width: 1px;
    }

    100% {
        transform: translate3d(-50%, -280px, 0);
        height: 75px;
        width: 75px;
    }
}

@-moz-keyframes bubble-movement {
    0% {
        transform: translate3d(-50%, 0, 0);
        height: 1px;
        width: 1px;
    }

    100% {
        transform: translate3d(-50%, -280px, 0);
        height: 75px;
        width: 75px;
    }
}

@-o-keyframes bubble-movement {
    0% {
        transform: translate3d(-50%, 0, 0);
        height: 1px;
        width: 1px;
    }

    100% {
        transform: translate3d(-50%, -280px, 0);
        height: 75px;
        width: 75px;
    }
}

@keyframes bubble-movement {
    0% {
        transform: translate3d(-50%, 0, 0);
        height: 1px;
        width: 1px;
    }

    100% {
        transform: translate3d(-50%, -280px, 0);
        height: 75px;
        width: 75px;
    }
}

/*footer*/
.col_white_amrc {
    color: #FFF;
}

footer {
    background-color: #000;
    min-height: 250px;
    padding: 10px 0px 10px 0px;
    background-repeat: no-repeat;


}


.pt2 {
    padding-top: 25px;
    margin-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #CCC;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.mb10 {
    padding-bottom: 15px;
}

.footer_ul_amrc {
    margin: 0px;
    list-style-type: none;
    font-size: 14px;
    padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
    padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
    color: #CCC;
}
.footer_ul_amrc a {
    color: #CCC;
}
.footer_ul_amrc li a:hover {
    color: #fff;
    text-decoration: none;
}
.footer_ul_amrc a:hover {
    color: #fff;
    text-decoration: none;
}

.fleft {
    float: left;
}

.padding-right {
    padding-right: 10px;
}

.footer_ul2_amrc {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}

.footer_ul2_amrc li p {
    display: table;
}

.footer_ul2_amrc li a:hover {
    text-decoration: none;
}

.footer_ul2_amrc li i {
    margin-top: 5px;
}

.bottom_border {
    border-bottom: 1px solid #323f45;
    padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
    list-style-type: none;
    padding: 0px;
    display: table;
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
}

.foote_bottom_ul_amrc li {
    display: inline;
}

.foote_bottom_ul_amrc li a {
    color: #999;
    margin: 0 12px;
}

.social_footer_ul {
    display: table;
    margin: 15px auto 0 auto;
    list-style-type: none;
}

.social_footer_ul li {
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.social_footer_ul li a {
    color: #CCC;
    border: 1px solid #CCC;
    padding: 8px;
    border-radius: 50%;
}

.social_footer_ul li i {
    width: 20px;
    height: 20px;
    text-align: center;
}

.copyrighttext {
    font-weight: 500;
    font-size: 12px;
    font-family: 'Bitter', serif;
    color: #ccc;
}

.app_icon_sec { color:#f8f9fa;
text-transform:capitalize; font-size:33px; padding: 0px 0px 15px 0px;}